@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button {
  display: inline-block;
  width: 6rem;
  border-radius: 0.25rem;
  border-width: 1px;
  margin: 4px;
  /* border-color: rgb(148 163 184); */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 6px;
  padding-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.button:hover {
  border-color: rgb(148 163 184);
  background-color: rgb(226 232 240);
}
.button_active {
  outline-color: rgb(100, 85, 85);
  border-width: 12x;
}

.addBasketButton {
  width: 8rem;
  border-color: rgb(219, 171, 11);
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.addBasketButton:hover {
  border-color: rgb(219, 171, 11);
  background-color: rgb(219, 171, 11);
}

/* tarayıcılarda input yukarı/aşağı okları gizle */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
