@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button {
  display: inline-block;
  width: 6rem;
  border-radius: 0.25rem;
  border-width: 1px;
  margin: 5px;
  border-color: rgb(148 163 184);
  padding-left: 1.5rem; /* 6 * 0.25rem */
  padding-right: 1.5rem; /* 6 * 0.25rem */
  padding-bottom: 6px;
  padding-top: 0.5rem; /* 2 * 0.25rem */
  font-size: 0.75rem; /* 12px varsayılan font büyüklüğü */
  font-weight: 500; /* Varsayılan font ağırlığı */
  /* text-transform: uppercase; */
  line-height: 1.5; /* Varsayılan satır yüksekliği */
  /* primary-700 renginin karşılığı */
  color: #000;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}
.button:hover {
  border-color: rgb(148 163 184);
  background-color: rgb(226 232 240);
}
/* .button:focus {
  border-color: rgb(118, 123, 129);
  outline: none;
  border-width: 2.5px;
}
.button:focus:ring-0 {
  box-shadow: none;
} */
/* .button:active {
  border-color: rgb(100 116 139);
} */
.button_active {
  outline-color: rgb(100, 85, 85);
  border-width: 12x;
}

.addBasketButton {
  width: 8rem;
  font-weight: 600;
}
.addBasketButton:hover {
  border-color: rgb(219, 171, 11);
  background-color: rgb(219, 171, 11);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  /* tarayıcılarda inpu yukarı/aşağı okları gizle */
  -webkit-appearance: none;
  margin: 0;
}
